
.forma_epilogis 
{
  background-color:grey; 
  height:500px; 
  width:400px; 
  float:center; 
  text-align:center;
  float:left;
}

.stixoia{
  background-color:#00FFCC;
  text-align:center;
  height:500px; 
  width:800px;
  font-size:15pt;
  float:center;
}

h1 
{
  text-align:center; 
  height:50px; 
  width:800px 
}

td 
{
  text-align: center;
  vertical-align: text-top;
}

th 
{
  text-align: center;
  vertical-align: text-top;
}




